.lead__image {
    object-fit: cover;
    margin-top: 56px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
         max-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        margin-top: 40px;
        max-height: 200px;
    }
}
