.cover__subtitle {
    font-family: Inter;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    justify-self: center;
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    }
}