/* .lead {
    margin: 56px auto 0 auto;
} */

/* .lead__title {
    margin: 0 auto 0 auto;
    width: 720px;
    height: 200px;
    font-family: Inter-Black;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
} */

/* .lead__subtitle {
    margin: 32px auto 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
} */

/* .lead__image {
    margin: 64px auto 0 auto;
    width: 100%;
} */

/* .lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 0;
} */

/* .intro {
    margin: 92px auto 0 auto;
} */

/* .intro__title {
    font-size: 54px;
    line-height: 58px;
} */

/* .intro__text {
    margin-top: 40px;
    margin-bottom: 0;
    width: 690px;
    height: 208px;
    font-family: Inter;
    line-height: 163%;
} */

/* .intro__list {
    margin-top: 33px;
    margin-bottom: 0;
    font-family: Inter;
    font-size: 12px;
    line-height: 18px;
    list-style-type: none;
    padding: 0;
} */

/* .intro__list-item {
    font-weight: bold;
} */

/* .intro__span {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
} */

/* .photo-grid {
    display: grid;
    margin: 92px auto 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 213px;
    grid-template-rows: 213px;
    gap: 18px;
} */

/* .photo-grid__item {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    width: 90%;
} */
/* .places {
    width: 80%;
    margin: 92px auto 0 auto;
} */

/* .places__flex-row {
    display: flex;
    margin-top: 48px;
} */

/* .places__title {
    font-size: 72px;
    line-height: 76px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 460px;
    max-width: 460px;
    min-width: 50%;
} */

/* .places__website {
    margin-left: 40px;
    display: flex;
    flex-direction: column-reverse;
} */

/* .places__website_url-heading {
    font-family: Inter;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin-block-start: 0;
    margin-block-end: 0;
} */

/* .places__website_link {
    font-family: Inter;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
} */

/* .places__paragraph {
    font-family: Inter;
    font-size: 18px;
    line-height: 163%;
    margin-left: 40px;
} */

/* .places__image {
    max-height: 460px;
    max-width: 460px;
    object-fit: cover;
    min-width: 50%;
} */


/* .cover {
    position: relative;
    background-image: url("./images/cover-trains.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 740px;
    margin: 92px auto 0 auto;
} */

/* .cover__title {
    font-family: Inter-Black;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    max-width: 560px;
} */

/* .cover__subtitle {
    font-family: Inter;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 32px;
} */

/* .cover__overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    width: 100%;
    height: 100%;
    z-index: 1;
} */

/* .cover__overlay:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
} */

/* .footer {
    margin-top: 92px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
} */

/* .footer__link {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    margin-left: 16px;
} */
/* .footer__link:first-child {
    margin-left: 0;
} */

/* .footer__copyright {
    font-size: 14px;
    line-height: 16px;
} */