.places__flex-row {
    display: flex;
    margin-top: 48px;
}

@media screen and (max-width: 425px) {
    .places__flex-row {
        flex-direction: column;
    }
}


@media screen and (max-width: 765px) {
    .places__flex-row {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and  (max-width: 767px) {
    .places__flex-row {
        display: block;
        margin-top: 48px;
    }
    
}

