.places__title {
    font-size: 72px;
    line-height: 76px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 460px;
    max-width: 43%;
    min-width: 43%;
    font-family: Inter;
    font-weight: 900;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .places__title {
        max-width: 48%;
        min-width: 48%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__title {
        min-width: 53%;
        font-family: Inter;
        font-size: 42px;
        font-style: normal;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 0em;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .places__title {
        width: 90%;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 64px;
        max-width: 100%;
        margin-left: 16px;
    }
}