.places__link {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
}

.places__link:hover {
    opacity: 0.8;
}