.photo-grid {
    display: grid;
    width: 90%;
    margin: 92px auto 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 213px;
    grid-template-rows: 213px;
    gap: 16px;
    min-height: 284px;
}

@media screen and (min-width: 1024px) and  (max-width: 1279px) {
    .photo-grid {
        /* background-color: violet; */
        min-height: 300px;
        grid-template-columns: repeat(3, 300px);
        grid-auto-rows: 225px;
        grid-template-rows: 225px;
        width: 90%;
        gap: 14px;
    }
    
}

@media screen and (min-width: 768px) and  (max-width: 1023px) {
    .photo-grid {
        margin-top: 86px;
        min-height: 352px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: 264px;
        grid-auto-rows: 264px;
        gap: 16px;
    }
    
}

@media screen and (min-width: 320px) and  (max-width: 767px) {
    .photo-grid {
        margin-top: 64px;
        min-height: 288px;
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: 216px;
        grid-auto-rows: 216px;
        gap: 12px;
    }
    
}

/* @media screen and (max-width: 425px) {
    .photo-grid {
        margin-top: 60px;
        min-height: 288px;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        grid-template-rows: 216px;
        grid-auto-rows: 216px;
    }
    
} */