.header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 28px 48px 0 48px;
    position: relative;
}

@media screen and (min-width: 1280px) {
    .header {
        width: 1184px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        width: 928px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header {
        width: 720px;
        margin: 28px 24px 0 24px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        width: 288px;
        margin: 16px 16px 0 16px;
    }
}