@font-face {
    font-family: 'Inter';
    src: url("../../vendor/fonts/Inter/Inter-Regular.woff2") format("woff2"),
        url("/../../vendor/fonts/Inter/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: 'Inter-Black';
    src: url("../../vendor/fonts/Inter/Inter-Black.woff2") format("woff2"),
        url("/../../vendor/fonts/Inter/Inter-Black.woff") format("woff");
    font-weight: 900;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url("../../vendor/fonts/Inter/Inter-Bold.woff2") format("woff2"),
        url("/../../vendor/fonts/Inter/Inter-Bold.woff") format("woff");
    font-weight: bold;
}

.root {
    font-family: Inter-Regular, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2a2c2f;
    width: 90%;
    margin: 0 auto 0 auto;
}

@media screen and (max-width:  768px) {
    .root {
        width: 100%;
    }
}

@media screen and (max-width:  425px) {
    .root {
        width: 100%;
    }
}