.root {
    font-family: Inter, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2a2c2f;
    /* width: 90%; */
    /* margin: 0 auto 0 auto; */
}
