.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer__copyright {
        margin-left: 0px;
        margin-top: 48px;
        text-align: left;
    }
}