.places__flex-row {
    display: flex;
    margin-top: 48px;
}

@media screen and (max-width: 425px) {
    .places__flex-row {
        flex-direction: column;
    }
}


@media screen and (max-width: 765px) {
    .places__flex-row {
        width: 100%;
    }
}

