.lead__subtitle {
    margin: 0 auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 640px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}