.places__image {
    max-height: 460px;
    max-width: 460px;
    object-fit: cover;
    min-width: 50%;
}

@media screen and (max-width: 1024px) {
    .places__image {
        max-height: 440px;
        max-width: 440px;
        object-fit: cover;
        min-width: 50%;
    }
    
}

@media screen and (max-width: 768px) {
    .places__image {
        max-height: 340px;
        max-width: 340px;
        
    }
    
}

@media screen and (max-width: 425px) {
    .places__image {
        width: 100%;
        max-height: 425px;
        max-width: 425px;
        margin: 0 auto;
    }
}