.places__title {
    font-size: 72px;
    line-height: 76px;
    margin-block-start: 0;
    margin-block-end: 0;
    max-height: 460px;
    max-width: 50%;
    min-width: 50%;
    font-family: Inter-Black;
}

@media screen and (max-width: 1024px) {
    .places__title {
        font-size: 60px;
        line-height: 64px;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .places__title {
        width: 90%;
        margin: 0 auto;
        font-size: 32px;
        line-height: 35px;

    }
}