.lead__caption {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}