.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    max-width: 560px;
}

@media screen and (min-width: 320px) and  (max-width: 767px) {
    .cover__title {
        width: 78%;
        font-size: 32px;
        font-style: normal;
        line-height: 35px;
        letter-spacing: 0em;
    }
    
}
