.intro {
    margin: 92px auto 0 auto;
    width: 90%;
}
/* 
@media screen and (min-width: 1281px) {
    .intro {
        width: 85%;
    }
} */

@media screen and (max-width: 1280px) {
    .intro {
        width: 76%;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 90%;
    }
}

@media screen and (max-width:  768px) {
    .intro {
        margin: 90px auto 0 5%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        margin-top: 40px;
    }
}