.places__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    margin-block-start: 0;
    margin-block-end: 0;
}