.header__lang-link {
    margin-left: 18px;
    color: white;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

.header__lang-link:active {
    text-decoration: underline;
}
