.intro__title {
    font-size: 54px;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 58px;
    font-weight: 900;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        font-style: normal;
        line-height: 35px;
        letter-spacing: 0em;
    }
}